*{
  margin:0;
  padding:0;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fullpage {
  height:100%;
  width: 100%;
}

.carousel-inner{
  margin: auto;
}

.slide-text{
  font-size: 2em;
  line-height: 2em;
  height: 5em;
  display: table;
  vertical-align: middle;
  margin:auto;
}
